

      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h4>{{ goal.description }}</h4>
        </mat-panel-title>
        <mat-panel-description>
          <app-star-input [maximum]="maximumPriority" [value]="goal.priority" [readOnly]="true"></app-star-input>
          <span>{{ goal.creationDate }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button (click)="edit()"><mat-icon>create</mat-icon><span>Edit</span></button>
      <fieldset class="field-space">
          <legend>Excpectation</legend>
          <p [innerHTML]="goal.expectation | newLine"></p>
      </fieldset>
      <fieldset class="field-space">
          <legend>Strategy</legend>
          <p [innerHTML]="goal.strategy | newLine"></p>
      </fieldset>
      <fieldset class="field-space">
          <legend>Alternatives</legend>
          <p [innerHTML]="goal.alternatives | newLine"></p>
      </fieldset>
    </mat-expansion-panel>


