

      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h4>{{ goal.description }}</h4>
        </mat-panel-title>
        <mat-panel-description>
          <div class="description-container">
            <app-star-input [maximum]="maximumPriority" [value]="goal.priority" [readOnly]="true"></app-star-input>
            <span class="space"></span>
            <span class="status-value">{{ statusById.get(goal.statusId).description }}</span>
            <span class="space"></span>
            <span class="date-value">{{ goal.creationDate }}</span>
            <span class="space"></span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button (click)="edit()"><mat-icon>create</mat-icon><span>Edit</span></button>
      <fieldset class="field-space">
          <legend>Excpectation</legend>
          <ul class="item-list">
            <li *ngFor="let item of goal.expectation?.split('\n')">{{ item }}</li>
          </ul>
      </fieldset>
      <fieldset class="field-space">
          <legend>Strategy</legend>
          <ul class="item-list">
            <li *ngFor="let item of goal.strategy?.split('\n')">{{ item }}</li>
          </ul>
      </fieldset>
      <fieldset class="field-space">
          <legend>Alternatives</legend>
          <ul class="item-list">
            <li *ngFor="let item of goal.alternatives?.split('\n')">{{ item }}</li>
          </ul>
      </fieldset>
    </mat-expansion-panel>


