<div class="goals-container">
  <mat-toolbar>
    <span>Goals</span> <span class="menu-separation"></span>
    <button mat-button (click)="openNewGoalDefinitionDialog()">
      <mat-icon>add</mat-icon>Add Goal
    </button>
  </mat-toolbar>
  <div class="goal-definition-container">
    <div class="goal-spacing" *ngFor="let goal of (goals | async)">
      <app-goal-definition
        [goal]="goal"
        (editGoal)="edit($event)"
        [maximumPriority]="MAXIMUM_PRIORITY"
        [statusById]="statusById"
      ></app-goal-definition>
    </div>
  </div>
</div>
